p {
    font-size: 25px;
    color: black;
    font-family: FUENTE1;
    border-image: round;
    position: relative;
    justify-content: space-evenly;
    margin-top: 20px;
    display: flex;
}

.logoservicio {
    color: #ffec38;
    font-size: 60px;
}

.descripcion{
    font-size: 19px;
    color: black;
    font-family: FUENTE2;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    padding: 60px;
    text-align: justify;
}