* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Font1';
    src: url(../Media/LeagueGothic-Regular.otf); }
  
@font-face {
    font-family: 'Font2';
    src: url(../Media/RobotoCondensed-Light.ttf); }

#lista{
    display: flex;
    justify-content: center;
}

.articulo{
    color: black;
    padding-left: 110px;
    padding-right: 110px;
    position: relative;
    justify-content: space-evenly;
    display:inline-block;
    margin: auto 0;
}

.articuloimg{
    color: black;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 20px;
    padding-top: 40px;
    position: relative;
    display:inline-block;
    margin: auto 0
}

.btndetalles{
    font-size: 16px;
    font-family: 'Font1';
    position: relative;
    justify-content: space-evenly;
    display: flex;
    border: 0;
    padding: 20px;
    text-decoration: underline;
}

p {
    font-size: 18px;
    color: black;
    font-family: 'Font2';
    border-image: round;
    position: relative;
    justify-content: space-evenly;
    margin-top: 20px;
    display: flex;
}

.logoservicio {
    color: #ffec38;
    font-size: 85px;
    text-align: center;
}
