* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: FUENTE1;
    src: url(../Media/LeagueGothic-Regular.otf); }
  
  @font-face {
    font-family: FUENTE2;
    font-style: normal;
    src: url(../Media/RobotoCondensed-Light.ttf); }


h1{
    font-size: 35px; 
    color: black; 
    font-family: FUENTE1;  
    border-image: round;
    position: relative; 
    justify-content: space-evenly;
    margin-top: 20px;
    display: flex;
}

button{
    font-size: 40px; 
    color: black; 
    position: relative; 
    justify-content: space-evenly;
    display: flex;
}